.button{
    padding: 10px 22px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    height: 40px;
    cursor: pointer;
}
.arrow{
    transform: rotate(0deg);
    transition: 300ms ease-out;
}
.active{
    .arrow{
        transform: rotate(90deg);
    }
}
.content{
    border-bottom: 1px solid #1E2D3D;
}
.link{
    transition: 300ms ease-out;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #607B96;
    padding: 10px 22px 10px 41px;
    &:hover{
        color: #fff;
        svg path{
            fill: #fff;
        }
    }
    svg{
        width: 16px;
        path{
            transition: 300ms ease-out;
            fill: #607B96;
        }
    }
}
.border{
    border-bottom: 1px solid #1E2D3D;
}
.active{
    &.borderOnActive{
        &~div{
            border-bottom: 1px solid #1E2D3D;
        }
    }
}